In [1]:
from google.colab import files
uploaded = files.upload()

Saving leopold-nih-foia-anthony-fauci-emails.txt to leopold-nih-foia-anthony-fauci-emails (2).txt

**Dataprep Clean**
DataPrep.Clean provides functions for quickly and easily cleaning and validating your data.

Section Contents: Column Headers, Country Names, Dates and Times, Duplicate Values, Email Addresses,

Geographic Goordinates, IP Addresses, Phone Numbers, Text, URLs, US Street Addresses, Whole DataFrame

Dataprep is an initiative by SFU Data Science Research Group to speed up Data Science.

Acknowlegdements

SFU Data Science Research Group - SIMON FRASER UNIVERSITY

https://docs.dataprep.ai/user_guide/clean/introduction.html

https://dataprep.ai/

In [2]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:

fauci_file = 'leopold-nih-foia-anthony-fauci-emails.txt'
with open(fauci_file, encoding = 'ISO-8859-2') as f: # The with keyword automatically closes the file when you are done
    print (f.read(3000))

From: Sent: To:
Cc:
(NIH/NIAID) [E]
Subject:

Fauci, Anthony (NIH/NIAID) [E]
Fri, 6 Mar 2020 03:49:45 +0000
Haskins, Melinda {NIH/NIAID) [E]
Selgrade, Sara (NIH/NIAID) [E];Crawford, Chase (NIH/NIAID) [E];Conrad, Patricia

RE: Please review: House Oversight Letter on Coronavirus Diagnostics




Ido not understand why you are asking me to "review" this.  Is this an FYI??


From: Haskins, Melinda (NIH/NIAID) [El	(b)(     >
Sent: Thursday, March 5, 2020 9:
To: Fauci, Anthony (NIH/NIAID) (E]	(b)(6)>
Cc: Selgrade, Sara (NIH/NIAID) [E]	(b)(6)ˇ;  Crawford, Chase (NIH/NIAID) [E]
>; Conrad,Patricia (NIH/NIAID) [E]	(b)(6)
Subject: Please review : House Oversight Letter on Coronavirus Diagnostics

From: Sent: To:
Cc:
Subject:

Fauci, Anthony (NIH/NIAIO) [E] Fri, 6 Mar 2020 03:00:23 +0000
Muniz, Maria de Los Angeles
'Birx,Deborah  L'
RE: National Blood Supply




Maria:
Thanks for the note.  Iwill bring this us in our discussions
Best regards,
Tony


From: Muniz, Maria de Los Angeles <MMuniz@vitalant.org>
Sent: Thursday, March 5, 2020 9:	=
To: Fauci, Anthony (NIH/NIAID)	=
Cc: Fauci, Anthony (NIH/NIAID) [E]
Subject: National Blood Supply

Dear Dr. Fauci: I am an ex-alumni from the Department of Transfusion Medicine at the NIH. Iam sorry to bother but I wanted to notify the Coronavirus Task force about potential blood shortages if blood  centers get blood drive cancellations due to the fear in the public.

We are starting to see this locally and rny concern is that other blood centers in the country are facing the same issue.

Itried to contact the office of the vice president, and all I could do was to send an email, which might get lost among thousands.

Iam hoping you see this and perhaps bring this to the table. Blood centers use updated federal information when educating donors, staff and hospitals but the current fear is triggering blood drive cancellations. This might be experienced nationally and will impact the national blood inventory.

Thank you


Maria De Los Angeles Muniz (Angie), MD
Medical Director
o 201.389 .0439 Ic,_	Cb_H_6J(please call cell phone first)
mmuniz@vitalant.org

Vitalant Montvale
Bank
102 Chestnut Ridge Road
Montvale, NJ 07645

Vitalant Cleveland	Vitalant Cord Blood

333 East Bridge Street  1Pearl Court
Elyria,OH 44035	Allendale, NJ 07401

Community Blood Services, Lifeshare & Blood Systems are now Vitafant.

From: Sent: To:

Conrad, Patricia (NIH/NIAID) [E) on behalf of Fauci, Anthony (NIH/NIAID) [E) Thu, 5 Mar 2020 21:27:53 +0000
NIAIDODAM

Subject:	FW: 03 04 2020 Dr.Anthony Fauci RE Invite to join my head table at Global's
AcceptAbility Gala on Wed 5/20
Attachments:	2020 03 GLOBAL AcceptAbility Gala Save the Date.pdf
Importance:	High







Patricia L. Conrad
Public Health Ana lyst and Special Ass istant to the Director
National Institute of A llergy and Infectious Diseases
The Nationa l Institutes of Health
31 Center Drive, MSC 2520 - Room 7A03
Bethesda, Maryland 20892
(b)(6)
301-496-4409  fax



Disclaimer:
The information in

**We must type quotation marks and separate with commas each part. So that it will be divided in columns.**

In [4]:
df = pd.DataFrame(
    {
        "text": [
            "Fauci, Anthony,NIH","NIAID,Please review:","House Oversight Letter on Coronavirus Diagnostics", "I do not understand", "why you are asking me", "to review this", " Is this an FYI??",
            123,
            np.nan,
            "NULL",
        ]
    }
)
df

                                                text
0                                 Fauci, Anthony,NIH
1                               NIAID,Please review:
2  House Oversight Letter on Coronavirus Diagnostics
3                                I do not understand
4                              why you are asking me
5                                     to review this
6                                   Is this an FYI??
7                                                123
8                                                NaN
9                                               NULL

In [5]:
!pip install dataprep

Requirement already satisfied: dataprep in /usr/local/lib/python3.7/dist-packages (0.3.0)
Requirement already satisfied: bottleneck<2.0,>=1.3 in /usr/local/lib/python3.7/dist-packages (from dataprep) (1.3.2)
Requirement already satisfied: aiohttp<4.0,>=3.6 in /usr/local/lib/python3.7/dist-packages (from dataprep) (3.7.4.post0)
Requirement already satisfied: regex<2021.0.0,>=2020.10.15 in /usr/local/lib/python3.7/dist-packages (from dataprep) (2020.11.13)
Requirement already satisfied: metaphone<0.7,>=0.6 in /usr/local/lib/python3.7/dist-packages (from dataprep) (0.6)
Requirement already satisfied: python-Levenshtein<0.13.0,>=0.12.2 in /usr/local/lib/python3.7/dist-packages (from dataprep) (0.12.2)
Requirement already satisfied: nltk<4.0,>=3.5 in /usr/local/lib/python3.7/dist-packages (from dataprep) (3.6.2)
Requirement already satisfied: pydantic<2.0,>=1.6 in /usr/local/lib/python3.7/dist-packages (from dataprep) (1.8.2)
Requirement already satisfied: jsonpath-ng<2.0,>=1.5 in /usr/local/lib/python3.7/dist-packages (from dataprep) (1.5.2)
Requirement already satisfied: numpy<2,>=1 in /usr/local/lib/python3.7/dist-packages (from dataprep) (1.19.5)
Requirement already satisfied: tqdm<5.0,>=4.48 in /usr/local/lib/python3.7/dist-packages (from dataprep) (4.61.0)
Requirement already satisfied: pandas<2.0,>=1.1 in /usr/local/lib/python3.7/dist-packages (from dataprep) (1.1.5)
Requirement already satisfied: dask[array,dataframe,delayed]<3.0,>=2.25 in /usr/local/lib/python3.7/dist-packages (from dataprep) (2.30.0)
Requirement already satisfied: usaddress<0.6.0,>=0.5.10 in /usr/local/lib/python3.7/dist-packages (from dataprep) (0.5.10)
Requirement already satisfied: jinja2<3.0,>=2.11 in /usr/local/lib/python3.7/dist-packages (from dataprep) (2.11.3)
Requirement already satisfied: bokeh<3,>=2 in /usr/local/lib/python3.7/dist-packages (from dataprep) (2.3.2)
Requirement already satisfied: wordcloud<2.0,>=1.8 in /usr/local/lib/python3.7/dist-packages (from dataprep) (1.8.1)
Requirement already satisfied: scipy<2,>=1 in /usr/local/lib/python3.7/dist-packages (from dataprep) (1.4.1)
Requirement already satisfied: ipywidgets<8.0,>=7.5 in /usr/local/lib/python3.7/dist-packages (from dataprep) (7.6.3)
Requirement already satisfied: attrs>=17.3.0 in /usr/local/lib/python3.7/dist-packages (from aiohttp<4.0,>=3.6->dataprep) (21.2.0)
Requirement already satisfied: yarl<2.0,>=1.0 in /usr/local/lib/python3.7/dist-packages (from aiohttp<4.0,>=3.6->dataprep) (1.6.3)
Requirement already satisfied: chardet<5.0,>=2.0 in /usr/local/lib/python3.7/dist-packages (from aiohttp<4.0,>=3.6->dataprep) (3.0.4)
Requirement already satisfied: multidict<7.0,>=4.5 in /usr/local/lib/python3.7/dist-packages (from aiohttp<4.0,>=3.6->dataprep) (5.1.0)
Requirement already satisfied: typing-extensions>=3.6.5 in /usr/local/lib/python3.7/dist-packages (from aiohttp<4.0,>=3.6->dataprep) (3.7.4.3)
Requirement already satisfied: async-timeout<4.0,>=3.0 in /usr/local/lib/python3.7/dist-packages (from aiohttp<4.0,>=3.6->dataprep) (3.0.1)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from python-Levenshtein<0.13.0,>=0.12.2->dataprep) (57.0.0)
Requirement already satisfied: click in /usr/local/lib/python3.7/dist-packages (from nltk<4.0,>=3.5->dataprep) (7.1.2)
Requirement already satisfied: joblib in /usr/local/lib/python3.7/dist-packages (from nltk<4.0,>=3.5->dataprep) (1.0.1)
Requirement already satisfied: decorator in /usr/local/lib/python3.7/dist-packages (from jsonpath-ng<2.0,>=1.5->dataprep) (4.4.2)
Requirement already satisfied: ply in /usr/local/lib/python3.7/dist-packages (from jsonpath-ng<2.0,>=1.5->dataprep) (3.11)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from jsonpath-ng<2.0,>=1.5->dataprep) (1.15.0)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas<2.0,>=1.1->dataprep) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas<2.0,>=1.1->dataprep) (2.8.1)
Requirement already satisfied: pyyaml in /usr/local/lib/python3.7/dist-packages (from dask[array,dataframe,delayed]<3.0,>=2.25->dataprep) (3.13)
Requirement already satisfied: toolz>=0.8.2; extra == "array" in /usr/local/lib/python3.7/dist-packages (from dask[array,dataframe,delayed]<3.0,>=2.25->dataprep) (0.11.1)
Requirement already satisfied: partd>=0.3.10; extra == "dataframe" in /usr/local/lib/python3.7/dist-packages (from dask[array,dataframe,delayed]<3.0,>=2.25->dataprep) (1.2.0)
Requirement already satisfied: fsspec>=0.6.0; extra == "dataframe" in /usr/local/lib/python3.7/dist-packages (from dask[array,dataframe,delayed]<3.0,>=2.25->dataprep) (2021.5.0)
Requirement already satisfied: cloudpickle>=0.2.2; extra == "delayed" in /usr/local/lib/python3.7/dist-packages (from dask[array,dataframe,delayed]<3.0,>=2.25->dataprep) (1.3.0)
Requirement already satisfied: python-crfsuite>=0.7 in /usr/local/lib/python3.7/dist-packages (from usaddress<0.6.0,>=0.5.10->dataprep) (0.9.7)
Requirement already satisfied: probableparsing in /usr/local/lib/python3.7/dist-packages (from usaddress<0.6.0,>=0.5.10->dataprep) (0.0.1)
Requirement already satisfied: future>=0.14 in /usr/local/lib/python3.7/dist-packages (from usaddress<0.6.0,>=0.5.10->dataprep) (0.16.0)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.7/dist-packages (from jinja2<3.0,>=2.11->dataprep) (2.0.1)
Requirement already satisfied: tornado>=5.1 in /usr/local/lib/python3.7/dist-packages (from bokeh<3,>=2->dataprep) (5.1.1)
Requirement already satisfied: pillow>=7.1.0 in /usr/local/lib/python3.7/dist-packages (from bokeh<3,>=2->dataprep) (7.1.2)
Requirement already satisfied: packaging>=16.8 in /usr/local/lib/python3.7/dist-packages (from bokeh<3,>=2->dataprep) (20.9)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.7/dist-packages (from wordcloud<2.0,>=1.8->dataprep) (3.2.2)
Requirement already satisfied: ipykernel>=4.5.1 in /usr/local/lib/python3.7/dist-packages (from ipywidgets<8.0,>=7.5->dataprep) (4.10.1)
Requirement already satisfied: jupyterlab-widgets>=1.0.0; python_version >= "3.6" in /usr/local/lib/python3.7/dist-packages (from ipywidgets<8.0,>=7.5->dataprep) (1.0.0)
Requirement already satisfied: nbformat>=4.2.0 in /usr/local/lib/python3.7/dist-packages (from ipywidgets<8.0,>=7.5->dataprep) (5.1.3)
Requirement already satisfied: ipython>=4.0.0; python_version >= "3.3" in /usr/local/lib/python3.7/dist-packages (from ipywidgets<8.0,>=7.5->dataprep) (5.5.0)
Requirement already satisfied: widgetsnbextension~=3.5.0 in /usr/local/lib/python3.7/dist-packages (from ipywidgets<8.0,>=7.5->dataprep) (3.5.1)
Requirement already satisfied: traitlets>=4.3.1 in /usr/local/lib/python3.7/dist-packages (from ipywidgets<8.0,>=7.5->dataprep) (5.0.5)
Requirement already satisfied: idna>=2.0 in /usr/local/lib/python3.7/dist-packages (from yarl<2.0,>=1.0->aiohttp<4.0,>=3.6->dataprep) (2.10)
Requirement already satisfied: locket in /usr/local/lib/python3.7/dist-packages (from partd>=0.3.10; extra == "dataframe"->dask[array,dataframe,delayed]<3.0,>=2.25->dataprep) (0.2.1)
Requirement already satisfied: pyparsing>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from packaging>=16.8->bokeh<3,>=2->dataprep) (2.4.7)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib->wordcloud<2.0,>=1.8->dataprep) (0.10.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->wordcloud<2.0,>=1.8->dataprep) (1.3.1)
Requirement already satisfied: jupyter-client in /usr/local/lib/python3.7/dist-packages (from ipykernel>=4.5.1->ipywidgets<8.0,>=7.5->dataprep) (5.3.5)
Requirement already satisfied: jupyter-core in /usr/local/lib/python3.7/dist-packages (from nbformat>=4.2.0->ipywidgets<8.0,>=7.5->dataprep) (4.7.1)
Requirement already satisfied: ipython-genutils in /usr/local/lib/python3.7/dist-packages (from nbformat>=4.2.0->ipywidgets<8.0,>=7.5->dataprep) (0.2.0)
Requirement already satisfied: jsonschema!=2.5.0,>=2.4 in /usr/local/lib/python3.7/dist-packages (from nbformat>=4.2.0->ipywidgets<8.0,>=7.5->dataprep) (2.6.0)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.7/dist-packages (from ipython>=4.0.0; python_version >= "3.3"->ipywidgets<8.0,>=7.5->dataprep) (0.7.5)
Requirement already satisfied: pygments in /usr/local/lib/python3.7/dist-packages (from ipython>=4.0.0; python_version >= "3.3"->ipywidgets<8.0,>=7.5->dataprep) (2.6.1)
Requirement already satisfied: pexpect; sys_platform != "win32" in /usr/local/lib/python3.7/dist-packages (from ipython>=4.0.0; python_version >= "3.3"->ipywidgets<8.0,>=7.5->dataprep) (4.8.0)
Requirement already satisfied: prompt-toolkit<2.0.0,>=1.0.4 in /usr/local/lib/python3.7/dist-packages (from ipython>=4.0.0; python_version >= "3.3"->ipywidgets<8.0,>=7.5->dataprep) (1.0.18)
Requirement already satisfied: simplegeneric>0.8 in /usr/local/lib/python3.7/dist-packages (from ipython>=4.0.0; python_version >= "3.3"->ipywidgets<8.0,>=7.5->dataprep) (0.8.1)
Requirement already satisfied: notebook>=4.4.1 in /usr/local/lib/python3.7/dist-packages (from widgetsnbextension~=3.5.0->ipywidgets<8.0,>=7.5->dataprep) (5.3.1)
Requirement already satisfied: pyzmq>=13 in /usr/local/lib/python3.7/dist-packages (from jupyter-client->ipykernel>=4.5.1->ipywidgets<8.0,>=7.5->dataprep) (22.0.3)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.7/dist-packages (from pexpect; sys_platform != "win32"->ipython>=4.0.0; python_version >= "3.3"->ipywidgets<8.0,>=7.5->dataprep) (0.7.0)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.7/dist-packages (from prompt-toolkit<2.0.0,>=1.0.4->ipython>=4.0.0; python_version >= "3.3"->ipywidgets<8.0,>=7.5->dataprep) (0.2.5)
Requirement already satisfied: Send2Trash in /usr/local/lib/python3.7/dist-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets<8.0,>=7.5->dataprep) (1.5.0)
Requirement already satisfied: nbconvert in /usr/local/lib/python3.7/dist-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets<8.0,>=7.5->dataprep) (5.6.1)
Requirement already satisfied: terminado>=0.8.1 in /usr/local/lib/python3.7/dist-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets<8.0,>=7.5->dataprep) (0.10.0)
Requirement already satisfied: testpath in /usr/local/lib/python3.7/dist-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets<8.0,>=7.5->dataprep) (0.5.0)
Requirement already satisfied: defusedxml in /usr/local/lib/python3.7/dist-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets<8.0,>=7.5->dataprep) (0.7.1)
Requirement already satisfied: pandocfilters>=1.4.1 in /usr/local/lib/python3.7/dist-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets<8.0,>=7.5->dataprep) (1.4.3)
Requirement already satisfied: mistune<2,>=0.8.1 in /usr/local/lib/python3.7/dist-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets<8.0,>=7.5->dataprep) (0.8.4)
Requirement already satisfied: bleach in /usr/local/lib/python3.7/dist-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets<8.0,>=7.5->dataprep) (3.3.0)
Requirement already satisfied: entrypoints>=0.2.2 in /usr/local/lib/python3.7/dist-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets<8.0,>=7.5->dataprep) (0.3)
Requirement already satisfied: webencodings in /usr/local/lib/python3.7/dist-packages (from bleach->nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets<8.0,>=7.5->dataprep) (0.5.1)

In [6]:
from dataprep.clean import clean_text
clean_text(df, "text")

NumExpr defaulting to 2 threads.

                                             text
0                               fauci anthony nih
1                             niaid please review
2  house oversight letter coronavirus diagnostics
3                                      understand
4                                          asking
5                                          review
6                                             fyi
7
8                                             NaN
9                                             NaN

**Commas removed, Null became Nan and now text in lower case**

In [7]:
from dataprep.clean import clean_text
clean_text(df, "text", stopwords={"on", "an"})

                                             text
0                               fauci anthony nih
1                             niaid please review
2  house oversight letter coronavirus diagnostics
3                             i do not understand
4                           why you are asking me
5                                  to review this
6                                     is this fyi
7
8                                             NaN
9                                             NaN

In [8]:
custom_pipeline = [
    {"operator": "lowercase"},
    {"operator": "remove_digits"},
    {"operator": "remove_whitespace"},
]
clean_text(df, "text", pipeline=custom_pipeline)

                                                text
0                                 fauci, anthony,nih
1                               niaid,please review:
2  house oversight letter on coronavirus diagnostics
3                                i do not understand
4                              why you are asking me
5                                     to review this
6                                   is this an fyi??
7
8                                                NaN
9                                               null

In [9]:
#Users can also define and pass in their own functions using the pipeline parameter
import re

def split(text: str) -> str:
    return str(text).split()

def replace_z(text: str, value: str) -> str:
    return re.sub(r"z", value, str(text), flags=re.I)

custom_pipeline = [
    {"operator": "lowercase"},
    {"operator": "remove_digits"},
    {"operator": split},
    {"operator": replace_z, "parameters": {"value": "*"}},
    {"operator": "remove_whitespace"},
]
clean_text(df, "text", pipeline=custom_pipeline)

                                                text
0                          ['fauci,', 'anthony,nih']
1                        ['niaid,please', 'review:']
2  ['house', 'oversight', 'letter', 'on', 'corona...
3                   ['i', 'do', 'not', 'understand']
4              ['why', 'you', 'are', 'asking', 'me']
5                           ['to', 'review', 'this']
6                      ['is', 'this', 'an', 'fyi??']
7                                                 []
8                                            ['nan']
9                                           ['null']

In [10]:
#custom pipeline
custom_pipeline = [
    {
        "operator": "<operator_name>",
        "parameters": {"<parameter_name>": "<parameter_value>"},
    }
]

In [11]:
from dataprep.clean import default_text_pipeline
default_text_pipeline()

[{'operator': 'fillna'},
 {'operator': 'lowercase'},
 {'operator': 'remove_digits'},
 {'operator': 'remove_html'},
 {'operator': 'remove_urls'},
 {'operator': 'remove_punctuation'},
 {'operator': 'remove_accents'},
 {'operator': 'remove_stopwords', 'parameters': {'stopwords': None}},
 {'operator': 'remove_whitespace'}]

In [12]:
custom_pipeline = [{"operator": "fillna"}]
clean_text(df, "text", pipeline=custom_pipeline)

                                                text
0                                 Fauci, Anthony,NIH
1                               NIAID,Please review:
2  House Oversight Letter on Coronavirus Diagnostics
3                                I do not understand
4                              why you are asking me
5                                     to review this
6                                   Is this an FYI??
7                                                123
8                                                NaN
9                                                NaN

In [13]:
custom_pipeline = [{"operator": "fillna", "parameters": {"value": "<NAN>"}}]
clean_text(df, "text", pipeline=custom_pipeline)

                                                text
0                                 Fauci, Anthony,NIH
1                               NIAID,Please review:
2  House Oversight Letter on Coronavirus Diagnostics
3                                I do not understand
4                              why you are asking me
5                                     to review this
6                                   Is this an FYI??
7                                                123
8                                              <NAN>
9                                              <NAN>

In [14]:
#lowercase
custom_pipeline = [{"operator": "lowercase"}]
clean_text(df, "text", pipeline=custom_pipeline)

                                                text
0                                 fauci, anthony,nih
1                               niaid,please review:
2  house oversight letter on coronavirus diagnostics
3                                i do not understand
4                              why you are asking me
5                                     to review this
6                                   is this an fyi??
7                                                123
8                                                NaN
9                                               null

sentence_case
Convert the first character of the string to uppercase and all remaining characters to **lowercase**

In [15]:
custom_pipeline = [{"operator": "sentence_case"}]
clean_text(df, "text", pipeline=custom_pipeline)

                                                text
0                                 Fauci, anthony,nih
1                               Niaid,please review:
2  House oversight letter on coronavirus diagnostics
3                                I do not understand
4                              Why you are asking me
5                                     To review this
6                                   is this an fyi??
7                                                123
8                                                NaN
9                                               Null

In [16]:
#Title case
custom_pipeline = [{"operator": "title_case"}]
clean_text(df, "text", pipeline=custom_pipeline)

                                                text
0                                 Fauci, Anthony,Nih
1                               Niaid,Please Review:
2  House Oversight Letter On Coronavirus Diagnostics
3                                I Do Not Understand
4                              Why You Are Asking Me
5                                     To Review This
6                                   Is This An Fyi??
7                                                123
8                                                NaN
9                                               Null

In [17]:
#Upper case
custom_pipeline = [{"operator": "uppercase"}]
clean_text(df, "text", pipeline=custom_pipeline)

                                                text
0                                 FAUCI, ANTHONY,NIH
1                               NIAID,PLEASE REVIEW:
2  HOUSE OVERSIGHT LETTER ON CORONAVIRUS DIAGNOSTICS
3                                I DO NOT UNDERSTAND
4                              WHY YOU ARE ASKING ME
5                                     TO REVIEW THIS
6                                   IS THIS AN FYI??
7                                                123
8                                                NaN
9                                               NULL

In [18]:
#Remove-accents
custom_pipeline = [{"operator": "remove_accents"}]
clean_text(df, "text", pipeline=custom_pipeline)

                                                text
0                                 Fauci, Anthony,NIH
1                               NIAID,Please review:
2  House Oversight Letter on Coronavirus Diagnostics
3                                I do not understand
4                              why you are asking me
5                                     to review this
6                                   Is this an FYI??
7                                                123
8                                                NaN
9                                               NULL

In [19]:
#Remove bracketed
custom_pipeline = [
    {"operator": "remove_bracketed", "parameters": {"brackets": "round"}}
]
clean_text(df, "text", pipeline=custom_pipeline)

                                                text
0                                 Fauci, Anthony,NIH
1                               NIAID,Please review:
2  House Oversight Letter on Coronavirus Diagnostics
3                                I do not understand
4                              why you are asking me
5                                     to review this
6                                   Is this an FYI??
7                                                123
8                                                NaN
9                                               NULL

In [20]:
#To remove the text but keep the brackets, set inclusive to False
custom_pipeline = [
    {
        "operator": "remove_bracketed",
        "parameters": {"brackets": "round", "inclusive": False},
    }
]
clean_text(df, "text", pipeline=custom_pipeline)

                                                text
0                                 Fauci, Anthony,NIH
1                               NIAID,Please review:
2  House Oversight Letter on Coronavirus Diagnostics
3                                I do not understand
4                              why you are asking me
5                                     to review this
6                                   Is this an FYI??
7                                                123
8                                                NaN
9                                               NULL

In [21]:
#The brackets parameter can also take in a set, which allows multiple bracket styles to be specified at a time
custom_pipeline = [
    {
        "operator": "remove_bracketed",
        "parameters": {"brackets": {"angle", "curly", "round", "square"}},
    }
]
clean_text(df, "text", pipeline=custom_pipeline)

                                                text
0                                 Fauci, Anthony,NIH
1                               NIAID,Please review:
2  House Oversight Letter on Coronavirus Diagnostics
3                                I do not understand
4                              why you are asking me
5                                     to review this
6                                   Is this an FYI??
7                                                123
8                                                NaN
9                                               NULL

In [22]:
#Remove_digits
custom_pipeline = [{"operator": "remove_digits"}]
clean_text(df, "text", pipeline=custom_pipeline)

                                                text
0                                 Fauci, Anthony,NIH
1                               NIAID,Please review:
2  House Oversight Letter on Coronavirus Diagnostics
3                                I do not understand
4                              why you are asking me
5                                     to review this
6                                   Is this an FYI??
7
8                                                NaN
9                                               NULL

In [23]:
#remove_html
custom_pipeline = [{"operator": "remove_html"}]
clean_text(df, "text", pipeline=custom_pipeline)

                                                text
0                                 Fauci, Anthony,NIH
1                               NIAID,Please review:
2  House Oversight Letter on Coronavirus Diagnostics
3                                I do not understand
4                              why you are asking me
5                                     to review this
6                                   Is this an FYI??
7                                                123
8                                                NaN
9                                               NULL

In [24]:
#replace stopwards
custom_pipeline = [{"operator": "replace_stopwords", "parameters": {"value": "<S>"}}]
clean_text(df, "text", pipeline=custom_pipeline)

                                                text
0                                 Fauci, Anthony,NIH
1                               NIAID,Please review:
2  House Oversight Letter <S> Coronavirus Diagnos...
3                             <S> <S> <S> understand
4                             <S> <S> <S> asking <S>
5                                     <S> review <S>
6                                  <S> <S> <S> FYI??
7                                                123
8                                                NaN
9                                               NULL